@page "/programusers"
@using SH.Data.ModelVM;

<h3>ProgramUsers</h3>


<MudDataGrid Items="@_programUsersModel">
    <Columns>
        <PropertyColumn Property="x => x.FirstName" Title="Nr" />
        <PropertyColumn Property="x => x.LastName" />
        <PropertyColumn Property="x => x.Email" />
        <PropertyColumn Property="x => x.Mobile" />
        <PropertyColumn Property="x => x.Phone" Title="Molar mass" />
    </Columns>
</MudDataGrid>

@code {
    private IEnumerable<ProgramUserVm> _programUsersModel = new List<ProgramUserVm>();


}
