@page "/"


<PageTitle>Index</PageTitle>


<PL.Pages.Identity.Login />

@* <h1>Hello, world!</h1>
<h1>
    <MudIcon Icon="@Icons.Material.Filled.TheaterComedy"></MudIcon>
    <MudText Style="font-family: dana;font-variant-east-asian:full-width"> سلام دنیا </MudText>
</h1>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" /> *@


      

