body {

    @font-face {
        font-family: dana;
        src: url('../Fonts/dana regular.ttf') format('truetype');
        font-weight: 500;
    }

    @font-face {
        font-family: dana;
        src: url('../Fonts/dana demibold.ttf') format('truetype');
        font-weight: 600;
    }

    @font-face {
        font-family: dana;
        src: url('../Fonts/dana bold.ttf') format('truetype');
        font-weight: 700;
    }
}
